<h1>Forever Alone Twitter!</h1>
<div id="tweets">

  <% if flash[:success] %>
      <p class="success"><%= flash[:success] %></p>
  <% end %>

  <% if flash[:error] %>
      <p class="error"><%= flash[:error] %></p>
  <% end %>

  <%= form_for @tweet do |f| %>
      <%= f.text_field :status %>
      <%= f.submit 'Post Tweet!' %>
  <% end %>

  <% @tweets.each do |tweet| %>
    <p class="tweet"><%= tweet.status %></p>
  <% end %>

</div>
